body {
  font-family: 'Roboto', sans-serif;
  width: 1920px;
}

h1 {
  margin: 0px 980px 60px 399px;
  font-weight: 500;
  font-size: 3rem;
  line-height: 79px;
  color: #000000;
}

h2 {
  margin: 0 759px 50px 758px;
  width: 403px;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 38px;
  color: #000000;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background: #eeeff1;
  margin: 0px 0px 112px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 611px;
  margin: 79px 910px 162px 399px;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.nav a {
  color: #000000;
}

.nav a:hover {
  color: #676767;
}

.nav li:first-child a {
  font-weight: 500;
  color: #34547a;
}
.nav li:first-child a:hover {
  color: #3ea48a;
}

.header:first-child p {
  width: 540px;
  font-size: 1rem;
  line-height: 26px;
  color: #676767;
  margin: 0px 980px 65px 400px;
}

.submit {
  margin: 0px 1296px 141px 399px;
  padding: 19px 41px 20px;
  color: #ffffff;
  background-color: #34547a;
  border: none;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.submit:hover {
  background-color: #3ea48a;
}

h2 + p {
  width: 540px;
  margin: 0px 690px 100px 690px;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  color: #676767;
}

.wrapper {
  width: 100%;
  margin: 100px 0 100px;
  padding: 100px 424px 100px 409px;
  background-color: #34547a;
}

.wrapper__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

object {
  width: 141px;
  height: 50px;
}

iframe {
  width: 1100px;
  height: 600px;
  margin: -43px 405px 100px;
}
