body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0px 51% 60px 21%;
  font-weight: 500;
  font-size: 3rem;
  line-height: 79px;
  color: #000000;
}

h2 {
  margin: 0 40% 50px 39%;
  width: 403px;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 38px;
  color: #000000;
}

h2 + p {
  width: 540px;
  margin: 0px 36% 100px 36%;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  color: #676767;
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 25px;
}

object {
  display: block;
  width: 141px;
  height: 50px;
}

iframe {
  width: 57%;
  height: 600px;
  margin: -43px 21% 100px 21%;
}

.container {
  width: 57%;
}

.header {
  width: 100%;
  background: #eeeff1;
  margin: 0px 0px 112px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 32%;
  margin: 79px 47% 162px 21%;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.nav a {
  color: #000000;
}

.nav a:hover {
  color: #676767;
}

.nav li:first-child a {
  font-weight: 500;
  color: #34547a;
}
.nav li:first-child a:hover {
  color: #3ea48a;
}

.header:first-child p {
  width: 28%;
  font-size: 1rem;
  line-height: 26px;
  color: #676767;
  margin: 0px 51% 65px 21%;
}

.submit {
  margin: 0px 68% 141px 21%;
  padding: 19px 41px 20px;
  color: #ffffff;
  background-color: #34547a;
  border: none;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.submit:hover {
  background-color: #3ea48a;
}

.wrapper {
  width: 100%;
  margin: 100px 0 100px;
  padding: 100px 20% 100px 24%;
  background-color: #34547a;
}

.wrapper__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.footer {
  width: 100%;
  color: #ffffff;
  background-color: #34547a;
  padding: 50px 69% 50px 21%;
}

.footer p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 21px;
}
